%nav.fr-breadcrumb{role: 'navigation'}
  %button.fr-breadcrumb__button Voir le fil d'arianne
  .fr-collapse
    %ol.fr-breadcrumb__list
      %li
        %a.fr-breadcrumb__link{href: classes_path}Liste des classes
      %li
        %a.fr-breadcrumb__link{href: class_path(@classe)}= @classe.label
      %li
        %a.fr-breadcrumb__link{aria: { current: true }}= @student

%h1 Profil de #{@student}
%hr
