.fr-callout.fr-icon-information-line
  %h3.fr-callout__title=t("payment_requests.actions.reset.title")
  .fr-callout__text
  - url = (payment_request.in_state?(:incomplete) ? class_schooling_payment_request_mark_ready_path(@classe, @schooling, payment_request.pfmp.id, payment_request) : class_schooling_payment_requests_path(@classe, @schooling, payment_request))
  = form_with method: :post, url: url do |form|
    = t("payment_requests.actions.reset.warning")
    = render partial: "shared/confirmed_director"
    = form.submit t("payment_requests.actions.reset.cta"), class: "fr-btn"
