- # NOTE: this check is there until the process with the ASP is cleared out -> https://github.com/betagouv/aplypro/issues/858
- if @pfmp.can_retrigger_payment?
  .fr-callout.fr-icon-information-line
    %h3.fr-callout__title=t("payment_requests.actions.reset.title")
    .fr-callout__text
    = form_with method: :post, url: class_schooling_payment_requests_path(@classe, @schooling, @pfmp) do |form|
      = t("payment_requests.actions.reset.warning")
      = render partial: "shared/confirmed_director", locals: { message: t("validations.confirm_director") }
      = form.submit t("payment_requests.actions.reset.cta"), class: "fr-btn"
