= dsfr_alert(type: :warning, title: "Les dates sont indicatives") do
  %p
    Aucun calcul n'est effectué à partir des dates que vous
    renseignez. C'est
    %strong
      le nombre de jours inscrit sur l'attestation de fin de stage
      qui fait foi
    et informe le calcul du montant de
    l'allocation une fois qu'elle vous aura été remise.
