= dsfr_alert(type: :warning, title: "Les dates sont indicatives") do
  %ul
    %li= "#{warning_schooling_dates(schooling)}"

    %li Les dates saisies doivent correspondre à celles qui figurent dans la convention de stage.

    %li Le nombre de jours doit correspondre à celui qui figure dans l'attestation de fin de stage.
