- if failed_pfmps.any?
  .fr-table.fr-table.fr-mb-3w
    %table
      %caption.fr-h2 Liste des paiements échoués
      %thead
        %th Élève
        %th PFMP
        %th Etat
        %th Motif

      %tbody
        - failed_pfmps.each do |pfmp|
          %tr
            %td
              = pfmp.student.full_name
            %td
              = link_to pfmp.formatted_dates, edit_class_schooling_pfmp_path(pfmp.schooling.class, pfmp.schooling, pfmp), class: "fr-link", title: pfmp.full_dates
            %td
              = pfmp.payment_requests.last.status_badge
            %td
              = pfmp.payment_requests.last.status_explanation
