.fr-table.fr-table--layout-fixed.fr-table--no-caption
  %table
    %caption Liste des PFMPs de l'élève
    %thead
      %th{scope: "col"} PFMP
      %th{scope: "col"} Nombre de jours
      %th{scope: "col"} Montant
    %tbody
      - @student.pfmps.each do |pfmp|
        %tr
          %td= dsfr_link_to pfmp.listing_to_s, class_student_pfmp_path(@classe, @student, pfmp), title: "Voir la PFMP"
          %td= pfmp.day_count
          %td
            %strong= number_to_currency(pfmp.calculate_amount)
