.fr-callout.fr-icon-information-line
  %h3.fr-callout__title=t("payment_requests.actions.reset.title")
  .fr-callout__text
  = form_with method: :put, url: school_year_class_schooling_payment_request_path(selected_school_year, @classe, @schooling, @pfmp) do |form|
    = render partial: "form_content_payment_request", locals: { form: form, action: "update" }
