.fr-grid-row
  .fr-col-12
    = link_to "Valider les PFMPs complétées", validate_all_pfmps_path, class: "fr-btn fr-mb-3w"

.fr-grid-row
  .fr-col-12
    = dsfr_tabs do |tabs|
      - PfmpStateMachine.states.each do |state|
        = tabs.tab title: pfmp_state_tab_title(state, @pfmps[state] || []), active: true do
          - if @pfmps[state].blank?
            %p Aucune PFMPs dans cette catégorie.
          - else
            = render partial: 'pfmp_table', locals: { pfmps: @pfmps[state] }
