%h1 Ajouter une PFMP pour #{@student}

.fr-col-6
  .fr-highlight
    %p
      Aucun calcul n'est effectué à partir des dates que vous
      renseignez.

    %p
      C'est
      %strong
        le nombre de jours inscrit sur l'attestation de fin de stage
        qui fait foi
      et informe le calcul du montant de
      l'allocation une fois que vous l'aurez reporté.

= render 'form'
