%fieldset.fr-fieldset#radio-inline{"aria-labelledby" => "radio-inline-legend radio-inline-messages"}
  %legend#radio-inline-legend.fr-fieldset__legend--regular.fr-fieldset__legend
    Les coordonnées bancaires appartiennent à:
  .fr-fieldset__element.fr-fieldset__element--inline
    .fr-radio-group
      %input#radio-inline-1{type: "radio", value:"personal", name:"rib[owner_type]"}
      %label.fr-label{for: "radio-inline-1"}
        l'élève
  .fr-fieldset__element.fr-fieldset__element--inline
    .fr-radio-group
      %input#radio-inline-2{type: "radio", value:"other_person", name:"rib[owner_type]"}
      %label.fr-label{for: "radio-inline-2"}
        un représentant légal ou à un tiers
  .fr-fieldset__element.fr-fieldset__element--inline
    .fr-radio-group
      %input#radio-inline-3{type: "radio", value:"moral", name:"rib[owner_type]"}
      %label.fr-label{for: "radio-inline-3"}
        une personne morale
  #radio-inline-messages.fr-messages-group{"aria-live" => "assertive"}
