%h1 Sélection de l'établissement

.fr-grid-row
  .fr-col-md-7
    %p
      Plusieurs établissements sont renseignés dans votre
      profil. Veuillez sélectionner celui que vous désirez piloter dans
      la liste ci-dessous.

    = render "establishments/select_form"