.fr-checkbox-group.fr-mb-2w
  = check_box_tag :confirmed_director, "1", current_user.confirmed_director?, id: "confirmed_director_checkbox"
  %label.fr-label{for: "confirmed_director_checkbox"}
    = message.html_safe
    .fr-text--sm.fr-mt-1w= confirmed_director_information
