.fr-checkbox-group.fr-mb-2w
  = check_box_tag :confirmed_director, "1", current_user.confirmed_director?, data: { confirm_director_target: "checkbox", action: "change->confirm-director#toggleSubmitButton" }
  = label_tag :confirmed_director, class: "fr-label" do
    = message.html_safe
    .fr-text--sm.fr-mt-1w= confirmed_director_information
