.fr-checkbox-group.fr-mb-2w
  = check_box_tag :confirmed_director, checked: current_user.confirmed_director?
  = label_tag :confirmed_director, class: "fr-label" do
    = message.html_safe
    .fr-text--sm.fr-mt-1w= confirmed_director_information
