.etab-banner
  .fr-container
    .fr-grid-row.fr-text--sm
      .fr-col-sm.fr-col-12= @etab
      - if current_user.establishments.many?
        = dsfr_link_to "Changer d'établissement", user_select_establishment_path(current_user), class: "fr-text--sm"
