- if flash.any?
  .fr-grid-row
    .fr-col-md-6.flash.fr-mb-3w
      - { notice: :info, alert: :warning, error: :error }.each do |level, type|
        - if flash[level].present?
          - if flash[level].is_a? String
            = dsfr_alert(type: type, title: flash[level])
          - else
            = dsfr_alert(type: type, title: flash[level]["title"]) { flash[level]["content"].html_safe }