= dsfr_header logo_text: t("global.sponsor"), title: t("global.service_name"), tagline: t("global.service_description") do |header|
  - %i(classes pfmps).each do |item|
    - path = send("#{item}_path")
    = header.with_direct_link_simple title: t("menu.#{item}"),
                                     path: path,
                                     html_attributes: { "aria-current" => current_path?(path) ? "page" : nil }.compact
