.home.fr-container
  .fr-grid-row.fr-grid-row--center
    .fr-col-lg-7
      - if @etab.fetching_students
        = dsfr_alert(type: :info, title: "Récupération des élèves en cours") do
          %p Nous sommes en train de récupérer les données de vos élèves, veuillez rafraichir la page dans quelques minutes.
      - else
        = render partial: "home_timeline"
