.home.fr-container
  .fr-grid-row.fr-grid-row--center
    - if Exclusion.excluded?(current_establishment, nil, selected_school_year)
      = dsfr_alert(type: :alert, title: "Impossible de récupérer les élèves") do
        %p Il est impossible de récupérer les données de vos élèves, cet établissement est exclu pour l'année #{selected_school_year}
    - elsif current_establishment.fetching_students
      = dsfr_alert(type: :info, title: "Récupération des élèves en cours") do
        %p Nous sommes en train de récupérer les données de vos élèves, veuillez rafraichir la page dans quelques minutes.
    - else
      .container
        = render partial: "home_timeline"
