.home.fr-container
  - if @etab.fetching_students
    .fr-grid-row
      .fr-col-lg-7.fr-alert.fr-alert--info
        %h1.fr-h3 Récupération des élèves en cours
        %p Nous sommes en train de récupérer les données de vos élèves, veuillez rafraichir la page dans quelques minutes.

  - else
    .fr-grid-row.fr-grid-row--center
      .fr-col-lg-7
        = render partial: "home_timeline"