- content_for(:page_title) { "Accueil" }

.fr-grid-row
  .fr-col-12.fr-col-md-7
    %h1 Bienvenue

    %p
      Cette application est réservée aux chefs d'établissements et
      permet de renseigner les périodes de stage validées par les
      lycéens professionnels.

    - if current_principal.nil?
      = link_to 'Connexion', root_path, class: 'fr-btn'
    - else
      %h2 Connecté comme #{current_principal.name}
