%h2 Finalités

%p 
  L'application informatique APLyPro permet le versement aux élèves de lycées professionnels inscrits dans des formations professionnelles des ministères chargés de l'éducation nationale, de l'agriculture et de la mer, de niveau 3 et 4, d'une allocation de valorisation de leurs périodes de formation en milieu professionnel.
%p
  Les informations recueillies dans le cadre de ce traitement sont également utilisées à des fins statistiques.

%h2 Base légale

%p
  Cette application informatique constitue un traitement de données à caractère personnel mis en œuvre par le ministère de l'Éducation nationale et de la Jeunesse pour le respect d'une obligation légale à laquelle le responsable du traitement est soumis au sens du c) du 1 de l'article 6 du règlement général sur la protection des données (RGPD).

%p 
  Le ministère s'engage à ce que la collecte et le traitement des données à caractère personnel, effectués à partir de l'application informatique APLyPro, soient conformes à ce règlement.

%h2 Données traitées et durée de conservation

%p Les informations proviennent du traitement Fédération d'identité du ministère (FIM) pour les personnels du ministère en charge de l'éducation nationale et ceux du ministère en charge de la mer, et du traitement FREGATA pour les personnels du ministère en charge de l'agriculture, et par renseignement direct de l'application pour les personnels désignés à la DGESCO, DGER et DGAMPA.

%p 
  Les données relatives aux chefs d'établissement, ainsi que les données relatives aux autres personnels sont conservées 10 ans dans l'application.

%h2 Destinataires

%p 
  Les destinataires sont les agents de la direction interministérielle du numérique (DINUM), les administrateurs du système d'information en académie, personnel du pôle de diffusion nationale, qui assurent l'assistance de l'application, les personnels désignés à la DGESCO, DGER et DGAMPA, et de l'agence de service et de paiement (ASP), qui assure le paiement et la réalisation des contrôles éventuels.

%h2 Droit des personnes

%p 
  Vous pouvez exercer vos droits d’accès, de rectification et de limitation prévus par les articles 15, 16 et 18 du RGPD et sur le fondement de l’obligation légale auprès de :

%ul
  %li votre chef d’établissement, si vous êtes personnel en établissement ;
  %li votre rectorat, si vous êtes chef d’établissement ou personnel en rectorat ;
  %li la DGESCO ou la DGER ou la DGAMPA, si vous êtes personnel de l’administration centrale.

%p Pour pouvez exercer ces droits sur place, par voie postale ou par voie électronique.

%p Les droits à l’effacement et à l’opposition ne s’appliquent pas au présent traitement.

%p Pour exercer vos droits ou pour toute autre question sur le traitement de vos données à caractère personnel, vous pouvez aussi contacter le délégué à la protection des données du ministère de l’Education nationale et de la Jeunesse :

%ul
  %li à l’adresse électronique suivante : dpd@education.gouv.fr

  %li 
    par courrier en vous adressant au : 

    %br
    Ministère de l'éducation nationale et de la jeunesse 
    %br
    À l'attention du délégué à la protection des données (DPD) 
    %br
    110 rue de Grenelle 
    %br
    75357 Paris Cedex 07 
    %br
    %br
    Si vous estimez, après nous avoir contactés, que vos droits ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL :
  
  %li 
    via le formulaire de saisine en ligne : 
    = dsfr_link_to "https://www.cnil.fr/fr/vous-souhaitez-contacter-la-cnil", href: "https://www.cnil.fr/fr/vous-souhaitez-contacter-la-cnil"
      
  
  %li 
    ou par courrier postal, à l’adresse :

    %br
    Commission nationale de l'informatique et des libertés
    %br
    3 Place de Fontenoy
    %br
    TSA 80715
    %br
    75334 Paris Cedex 07

%p 
  À l’occasion de ces démarches, vous devez justifier de votre identité par tout moyen. En cas de doute sur votre identité, les services chargés du droit d’accès et le délégué à la protection des données peuvent vous demander les informations supplémentaires qui leur apparaissent nécessaires, y compris la photocopie d’un titre d’identité portant votre signature.