.fr-grid-row.fr-grid-row--gutters
  - User.omniauth_providers.each do |provider|
    .fr-col-md-6.fr-col-12
      = render 'connection_panel',
        name: t("omniauth.#{provider}.title"),
        description: t("omniauth.#{provider}.description"),
        button: t("omniauth.#{provider}.button"),
        path: omniauth_authorize_path(User, provider)
