%h1 Connexion requise

.fr-col-md-6
  %p
    Vous devez vous connecter pour accéder à Aplypro et à la gestion
    des PFMPs.
- true_production = Rails.env.production? && ENV.fetch("APLYPRO_ENV") == "production"
- unless true_production
  = button_to "Auth développeur",
    principal_developer_omniauth_authorize_path,
    method: :post,
    remote: false,
    data: { turbo: false },
    class: "fr-btn fr-my-3w"
%p
  = button_to "Accéder au portail de connexion",
    principal_fim_omniauth_authorize_path,
    method: :post,
    remote: false,
    data: { turbo: false },
    class: "fr-btn"

%p
  = button_to "Accéder au portail de connexion MASA",
    principal_masa_omniauth_authorize_path,
    method: :post,
    remote: false,
    data: { turbo: false },
    class: "fr-btn"
