.fr-col-md-7
  %h1 Bienvenue sur Aplypro

  %p.fr-text--lead
    Aplypro vous permet de renseigner les coordonnées bancaires et les
    périodes de stages de vos élèves pour leur permettre de toucher
    l'allocation prévue par la réforme des lycées professionnels.

  %p
    L'application continue à évoluer, notamment grâce à vos
    retours. Une section d'aide et une FAQ sont à votre disposition si
    vous rencontrez des difficultés.

  = link_to "Continuer", classes_path, class: 'fr-btn'
