.fr-col-md-6
  / %h1 Bienvenue sur APLyPro

  %p.fr-text--lead
    Dans le cadre de la réforme des lycées professionnels,
    depuis la rentrée scolaire 2023, les lycéens professionnels
    perçoivent une allocation versée au titre des PFMP réalisées.

  %p.fr-text--lead
    APLyPro permet la gestion du versement de l’allocation par
    les établissements : la saisie du nombre de jours de PFMP
    réalisés ainsi que la saisie des coordonnées de paiement.

  %p
    Des documents ressources sont disponibles
    = dsfr_link_to "sur Eduscol", "https://eduscol.education.fr/3860/allocation-de-stage-au-lycee-professionnel"
    \.

  = link_to "Continuer", home_path, class: 'fr-btn'
