.fr-callout.fr-col-lg-7
  %h3.fr-callout__title.fr-h5 Les apprentis ne sont pas bénéficiaires de l'allocation
  %p.fr-callout__text.fr-text--md
    Si des apprentis apparaissent dans vos classes, ils ne sont pas concernés par l'allocation. Nous allons bientôt les retirer d'APLyPro, vous devez les ignorer lors de vos saisies.
