- if @etab.never_generated_attributive_decisions? && !@etab.generating_attributive_decisions
  = dsfr_alert(type: :info, title: "Édition des décisions d'attribution", classes: 'fr-my-3w fr-col-md-7') do
    %p La décision d’attribution annuelle rend éligible l’élève à percevoir l’allocation. Ce document doit obligatoirement être transmis à l’élève et conservé par l’établissement en cas de contrôle de la chaîne des dépenses publiques.

    = button_to "Éditer les décisions d'attribution", establishment_create_attributive_decisions_path(@etab), class: 'fr-btn fr-btn--secondary fr-mt-2w'
