.fr-col-md-7
  - if @etab.generating_attributive_decisions
    = dsfr_alert(type: :info, title: "Édition des décisions d'attribution en cours", classes: 'fr-my-3w') do
      %p Les décisions d'attribution sont en train d'être éditées, veuillez rafraichir la page dans quelques minutes.
  - else
    - if @etab.never_generated_attributive_decisions?
      = dsfr_alert(type: :info, title: "Éditer les décisions d'attribution", classes: 'fr-my-3w') do
        %p La décision d’attribution annuelle rend éligible l’élève à percevoir l’allocation. Ce document doit obligatoirement être transmis à l’élève et conservé par l’établissement en cas de contrôle de la chaîne des dépenses publiques.
        = button_to "Éditer les décisions d'attribution", establishment_create_attributive_decisions_path(@etab), class: 'fr-btn fr-btn--secondary fr-mt-2w'
    - elsif @etab.attributive_decisions_zip.attached?
      .fr-callout
        %h2.fr-callout__title
          Décisions d'attributions
        %p.fr-callout__text
          Vous pouvez retrouver les décisions d'attribution dans le
          profil de chaque élève ou télécharger l'ensemble des
          décisions d'attribution pour votre établissement avec le
          bouton ci-dessous :

        = link_to "Télécharger toutes les décisions d'attribution", url_for(@etab.attributive_decisions_zip), class: 'fr-btn', target: :download
