- content_for(:page_title) { ["Liste des classes", @etab.name].join(" - ") }

%nav.fr-breadcrumb{role: 'navigation'}
  %button.fr-breadcrumb__button Voir le fil d'arianne
  .fr-collapse
    %ol.fr-breadcrumb__list
      %li
        %a.fr-breadcrumb__link{aria: { current: true }}Liste des classes


%h1 Liste des classes
%em= @etab

.fr-mt-3w

- if @classes.none?
  %p Nous récupérons la liste de vos élèves.
- else
  .fr-table
    %table
      %caption #{@classes.count} classes
      %thead
        %th{scope: "col"} Label
        %th{scope: "col"} Effectif
        %th{scope: "col"} Actions
      %tbody
        - @classes.each do |c|
          %tr
            %td= c.label
            %td= c.students.count
            %td=dsfr_link_to 'Voir la classe', c
