.home.fr-container
  .fr-grid-row.fr-grid-row--center
    .stat
      %h2 Répartition géographique des établissements
      .map-section
        %h5.text-center Région académique : #{@selected_academy}
        #map-container{
          data: {
            controller: "academic_map",
            selected_academy_value: @selected_academy.html_safe
          }
        }
