.fr-grid-row.fr-grid-row--gutters#login-page
  .fr-col-md-6.fr-col-12
    = render 'shared/connection_panel',
      name: t("omniauth.fim.title"),
      description: t("omniauth.fim.description"),
      button: t("omniauth.fim.button"),
      path: "/auth/academic"

  - unless Rails.env.production?
    .fr-col-md-6.fr-col-12
      = render 'shared/connection_panel',
        name: t("omniauth.developer.title"),
        description: t("omniauth.developer.description"),
        button: t("omniauth.developer.button"),
        path: "/auth/academic_developer"