= render partial: "student_informations", locals: { student: @schooling.student }

.fr-btns-group.fr-btns-group--inline.fr-mt-3w
  = link_to "Annuler", school_year_class_path(selected_school_year, @schooling.classe), class: 'fr-btn fr-btn--secondary'
  = button_to "Confirmer le masquage de l'élève de la classe", hidden_school_year_class_schooling_path(selected_school_year, @schooling.classe, @schooling, hidden_at: Time.zone.today, notice: "removed"), method: :post, class: 'fr-btn fr-btn--danger fr-btn--secondary'
