= render partial: "student_informations", locals: { student: @schooling.student }

.fr-btns-group.fr-btns-group--inline.fr-mt-3w
  = link_to "Annuler", school_year_class_path(selected_school_year, @schooling.classe), class: 'fr-btn fr-btn--secondary'
  = button_to "Confirmer la réintégration de l'élève dans la classe", hidden_school_year_class_schooling_path(selected_school_year, @schooling.classe, @schooling, hidden_at: nil, notice: "reintegrated"), method: :post, class: 'fr-btn fr-btn--primary'
