.fr-grid-row
  .fr-col-md-7
    %p
      Veuillez sélectionner l'année scolaire que vous désirez consulter dans
      la liste ci-dessous.

    %ul
      - SchoolYear.all.each do |school_year|
        %li
          = link_to(school_year, school_year_home_path(school_year.start_year))