.fr-breadcrumb {
  margin-bottom: 1rem;
}

/* https://github.com/alphagov/govuk-frontend/blob/main/packages/govuk-frontend/src/govuk/components/input/_index.scss#L59 */
.fr-input--extra-spacing {
  letter-spacing: .07em;
  font-variant-numeric: tabular-nums;
}

.fr-input--code {
  letter-spacing: .07em;
  font-variant-numeric: tabular-nums slashed-zero;
}

.fr-tabs__panel {
  transition: none;
}
