.fr-mb-3w
  = form_with method: :get, url: search_asp_schoolings_path do |form|
    .fr-search-bar.fr-search-bar--lg.fr-col-md-8#search
      = form.label :search, "Numéro de décision d'attribution, de dossier ou de prestation dossier", class: "fr-label"
      = form.text_field :search, placeholder: "Numéro de décision d'attribution, de dossier ou de prestation dossier", value: @search, class: "fr-input"
      = form.submit "Rechercher", class: "fr-btn"

- if @search.blank?
  .fr-mb-5w
    Entrez un numéro de décision d'attribution pour lancer une recherche
