.fr-alert.fr-alert--error
  %p.fr-alert__title
    %span.fr-icon-error-warning-line.fr-icon--sm{"aria-hidden": "true"}
    Erreur système
  %p.fr-alert__description
    Une erreur s'est produite lors de la suppression : #{error}
