.fr-alert.fr-alert--info
  %p.fr-alert__title
    %span.fr-icon-refresh-line.fr-icon--sm{"aria-hidden": "true"}
    Invitation en cours...
  %p.fr-alert__description
    Ajout des accès pour l'utilisateur #{email} en cours...
