- if result[:success]
  .fr-alert.fr-alert--success
    %p.fr-alert__title
      %span.fr-icon-check-line.fr-icon--sm{"aria-hidden": "true"}
      Invitation réussie
    %p.fr-alert__description
      L'utilisateur #{email} a été invité avec succès. Les codes académie suivants ont été ajoutés : #{academy_codes.join(', ')}.
- else
  .fr-alert.fr-alert--error
    %p.fr-alert__title
      %span.fr-icon-error-warning-line.fr-icon--sm{"aria-hidden": "true"}
      Erreur lors de l'invitation
    %p.fr-alert__description
      = result[:error]
