.fr-alert.fr-alert--info
  %p.fr-alert__title
    %span.fr-icon-refresh-line.fr-icon--sm{"aria-hidden": "true"}
    Suppression en cours...
  %p.fr-alert__description
    Suppression de l'utilisateur #{email} du realm Keycloak en cours...
